<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Form Patient</title>
</head>
<body>

	<div layout:fragment="zika">

		<div class="container  mt-5">

			<div class="col-md-6">
				<form th:action="@{savePatient(mode=${mode})}" method="post">

					<div class="card">
						<div class="card-header">
							<h6 th:if="${mode=='new'}">Formulaire de saisie d'un nouveau patient</h6>
							<h6 th:if="${mode=='edit'}">Formulaire de mise a jour d'un patient</h6>
						</div>
						<div class="card-body">

							<div class="form-group">
								<label class="control-label">Id :</label> 
								<label class="control-label" th:text="${patient.id}"></label> 
								<input type="hidden"
									name="id" th:value="${patient.id}" class="form-control">
							</div>

							<div class="form-group">
								<label class="control-label">Nom :</label> <input type="text"
									name="nom" th:value="${patient.nom}" class="form-control"
									placeholder="Entrer le nom"> <small
									th:errors=${patient.nom} class="text-danger"></small>
							</div>

							<div class="form-group">
								<label class="control-label">Date Naissance :</label> <input
									type="date" name="dateNaissance" class="form-control"
									th:value="${patient.dateNaissance}"> <small
									class="text-danger"></small>
							</div>

							<div class="form-group">
								<label class="control-label">Score :</label> <input
									type="number" name="score" th:value="${patient.score}"
									class="form-control" placeholder="Entrer le score"> <small
									th:errors=${patient.score} class="text-danger"></small>
							</div>

							<div class="form-check mb-3">
								<input type="checkbox" name="malade" class="form-check-input"
									th:checked="${patient.malade}"> <label
									class="form-check-label">Malade</label>
							</div>

							<button th:if="${mode=='new'}" type="submit" class="btn btn-primary btn-lg btn-block">Ajouter</button>
							<button th:if="${mode=='edit'}" type="submit" class="btn btn-primary btn-lg btn-block">Modifier</button>

						</div>


					</div>
				</form>
			</div>
		</div>



	</div>


</body>
</html>